repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff check
        language: system
        types: [python]
      - id: black
        name: black
        entry: poetry run black --check
        language: system
        types: [python]
      - id: mypy-backend
        name: mypy (backend)
        entry: poetry run mypy backend
        language: system
        pass_filenames: false
